@media only screen and (max-width :1024px) {
    html, body {
        width: 100%;
        overflow-x: hidden;
    }

    /* Carousel section */
    .carImg {
        height: 60vh !important;
    }

    /* Menu section */
    #menu {
        margin-top: 3rem !important;
    }

    .card-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0 !important;
    }

    .card {
        margin-bottom: 1.7rem;
    }

    /* Order section */
    .order-section {
        margin-top: 4rem !important;
    }

    form {
        margin: 0 !important;
    }

    .order-summary {
        margin-bottom: 0rem !important;
        padding: 5rem !important;
    }

    /* Feedback section */
    .feedback {
        margin-top: 2rem !important;
    }

    .feedback-form {
        padding: 1rem 2rem !important;
        margin: 0 !important;
     }
}