hr {
    margin: 2rem 0;
}
/* Navbar section */
.navbar {
    background: #ffae7b;
}

.navbar-nav a {
    color: rgb(126, 13, 13) !important;
    font-size: large;
}

.navbar-nav a:hover {
    color: #000000 !important;
}

/* Carousel section */
.carImg {
    height: 100vh;
}

/* Menu section */
#menu {
    margin-top: 5rem;
}

#menu h3 {
    text-align: center;
}

.card-section {
    display: flex;
    justify-content: space-between;
}

/* Order section */
.order-section {
    margin-top: 7rem;
}

form {
    margin: 0 13rem;
    padding: 4rem;
    background: #fdcdaf;
}
legend {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 3rem;
}

.order-summary {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: none;
}

/* Feedback section */
.feedback {
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.feedback-form {
   padding: 2rem 4rem;
   border: 1px solid black;
   margin: 0 13rem;
}

.feedbackForm h3, h6 {
    text-align: center;
}

/* Footer section */
.footer {
    background: #fdcdaf;
    padding: 0.4rem 0;
    text-align: center;
}

.icons i {
    margin-right: 1rem;
    cursor: pointer;
}



